<!DOCTYPE html>
<html>
<head>
<!-- lesson 3 - lists-->
</head>
<body>
<div id="root">

<ul>
	<li v-for="name in names" v-text="name"></li><!-- v-for is a vue directive to manage lists, you can either put moustache {{name }} or v-text="name" -->
</ul>
<input id="input" type="text"/>
<button id="button">Add</button>

</div>

<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

<script>


var app = new Vue({
	el: '#root',
	data: {
	names: ['dino','pie','vic','syndel']
	},
	mounted(){  //mounted will execute those instruction or functions on vue and document ready
	
	//for now let's do it old way
document.querySelector('#button').addEventListener('click',() => {
	let name = document.querySelector('#input');
	app.names.push(name.value);
	
	name.value ='';
	
}); //end addEventListener
	
	} //end mounted
})  //end Vue



</script>
</body>
</html>