<!DOCTYPE html>
<html>
<head>
<!-- lesson 1 - dynamically bind value-->
</head>
<body>
<div id="root">
<input type="text" id="input" v-model="message"/><!-- v-model is a directive for forms, it now binds to the object message --> 

<p>The value of the input is: {{message}} </p><!-- message is dynamically binded, so if you change the text foield the message changes too-->
</div>

<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

<script>


new Vue({
	el: '#root',
	data: {
	message : 'Hola chico'
	}
})


</script>
</body>
</html>